<div class="form-group">
    <label id="input-titolo">Titolo</label>
    <input type="text" id="input-titolo" class="form-control" [(ngModel)]="tit">
</div>
<div class="form-group">
    <label id="input-titolo">Autore</label>
    <input type="text" id="input-titolo" class="form-control" [(ngModel)]="aut">
</div>
<div class="form-group">
    <label id="input-titolo">Prezzo</label>
    <input type="number" id="input-titolo" class="form-control" [(ngModel)]="pre">
</div>
<button type="button" class="btn btn-success" (click)="salva()">Salva</button>


<table class="table table-striped">
    <thead>
        <tr>
            <th>TItolo</th>
            <th>AUTtore</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of elenco">
            <td>{{ l.titolo }}</td>
            <td>{{ l.autore }}</td>
            <td *ngIf="l.prezzo != 0">{{ l.prezzo }} €</td>
            <td *ngIf="l.prezzo == 0">
                <strong class="text-primary">Gratuito</strong>
            </td>
        </tr>
    </tbody>
</table>